/*#8e443d (brown), #498c8a(cyan), #1b232c (black), #7c8483 (gray), #fde74c (yellow),*/

* {
    box-sizing: border-box;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: gray;
    background-image: url('img/batcave3.avif');
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 600px) {
    /* Adjust background image size and other styles for phone view */
    body {
        background-size: cover;
    }
}


.navbar-brand {
    height: 48px;
}

.navbar {
    background-color: transparent; /* Set default background color to transparent */
}

.navbar:hover {
    /* background-color: #221914;  */
    background-color: #222221;
    transition: background-color 0.5s;
}

.navbar .container-fluid {
    opacity: 1; /* Set default opacity to fully visible */
    transition: opacity 0.4s; /* Apply transition effect only to opacity */
}

.navbar:hover .container-fluid {
    opacity: 1; /* Ensure text remains fully visible on hover */
}


#nav-image {
    margin-left: 20px;
}

.nav-link {
    position: relative;
}

.nav-link:after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #fde74c;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.container {
    margin-top: 3%;
}

 .card-img-top {
    width: 100%;
    height: 250px;
    object-fit: cover;
  } 

  .row {
    margin-bottom: 2%;
  }

  .card-title {
    text-align: center;
    font-size: 1.25rem;
  }





