* {
    box-sizing: border-box;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
}

body {
    background-color: gray;
    background-image: url('img/large_landscape.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.content {
    color: white;
    margin-left: 1rem;
}

p {
    font-size: 1rem;
}

.navbar-brand {
    height: 48px;
}

.navbar {
    background-color: transparent; /* Set default background color to transparent */
}

.navbar:hover {
    /* background-color: #221914; Change background color on hover */
    background-color: #222221;
    transition: background-color 0.5s;
}

.navbar .container-fluid {
    opacity: 1; /* Set default opacity to fully visible */
    transition: opacity 0.4s; /* Apply transition effect only to opacity */
}

.navbar:hover .container-fluid {
    opacity: 1; /* Ensure text remains fully visible on hover */
}

#nav-image {
    margin-left: 20px;
}

.nav-link {
    position: relative;
}

.nav-link:after {
    content: '';
    opacity: 0;
    transition: all 0.2s;
    height: 2px;
    width: 100%;
    background-color: #fde74c;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-link:hover::after {
    opacity: 1;
}

.transparent-box {
    background-color: rgba(255, 255, 255, 0.5); /* White color with 50% opacity */
    padding: 20px;
    border-radius: 10px;
  }


  
  







